# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tracollab/node_modules
/node_modules

/tracollab/.pnp
/.pnp

.pnp.js
.yarn/install-state.gz

/tracollab/.pnp.js
/tracollab/.yarn/install-state.gz

# testing
/tracollab/coverage
/coverage

# next.js
/.next/
/out/

/tracollab/.next/
/tracollab/out/
/tracollab/.env

# production
/tracollab/build

/build

# misc
.DS_Store
/tracollab/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/tracollab/npm-debug.log*
/tracollab/yarn-debug.log*
/tracollab/yarn-error.log*

# local env files
.env*.local

#/tracollab/.env*.local

# vercel
/tracollab/.vercel

.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/tracollab/next-env.d.ts
/tracollab/tracollab-3635375d23aa.json

.idea

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
